body{

background: #E5E5E5; ;

}

.title-section{

font-family: 'Inter', sans-serif;
margin-left: 10px;

}

.version{

font-size: 40px;
color: #0B2239;
opacity: 0.3;
margin-bottom: 7px;


}

.title{

width: 1123px;
height: 133px;   
font-weight: 900;
font-size: 120px;
margin-top: 7px;
margin-bottom: 17px;
font-style: bold;
color: #0B2239;

}

.email{


font-weight: normal;
font-size: 40px;
opacity: 0.3;
color: #0B2239;
margin-bottom: 190px;

}

a.blank{
    
text-decoration: none;


}

.main-container{

position: relative;
width: 1488px;
height: 1430px;
    
}

.first-section{

width: 1440px;
height: 72px;
font-family: 'Inter', sans-serif;
color: #ffffff;
background: #0B2239;
font-size: 13px;

}



