body{

    background: #E5E5E5;
}

.first-section{
    background: #0B2239;
    width: 1440px;
    height: 72px;
    display: flex;
    margin-left: 110px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.first-section>p{
    color: #FFFFFF;
    width: 922px;
    height: 40px;
    font-size: 15px;
    margin: 16px 32px 16px 120px;
    line-height: 20px;

}

.first-section>a{
    color: #4AD295;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    width: 106px;
    height: 36px;
    margin-top: 24px;

}

.first-section>button{
    color: #FFFFFF;
    background-color: #4AD295;
    width: 130px;
    height: 36px;
    border-radius: 2px;
    margin-top: 15px;
    border-style: none;

}

.second-section{
    color: #ffffff;
    background: #2B2627;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 52px;
    width: 1440px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 110px;
    display: flex;
    justify-content: center;

}

.second-section>img{
    width: 16px;
    height: 16px;
    margin-top: 17px;
    margin-left: 15px;
    
}

.second-section>p>a{
    color: #ffffff;
    line-height: 20px;

}

.third-section{
    border-radius: 16px;
    background: #ffffff;
    width: 560px;
    height: 72px;
    margin-left: 110px;
    margin-top: 72px;
    display: flex;

}

.third-section>img{
    height: 36px;
    width: 36px;
    border-radius: 10px;
    margin-top: 18px;
    margin-left: 16px;

}

.third-section>p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #0D0C22;
    font-family: 'Inter', sans-serif;
    margin-left: 10px;
    margin-top: 19px;  
    font-weight: normal;
    font-style: normal;
    line-height: 20px;  

}

.third-section>p>span{
    color: #EA4C89;

}

.third-section>.decline-button{
    border-radius: 8px;
    border-style: none;
    background: rgba(13, 12, 34, 0.05);
    width: 63px;
    height: 28px;   
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 23px;


}

.third-section>.allow-button{
    background: #EA4C89;
    color: #ffffff;
    position: static;
    width: 52px;
    height: 28px;
    border-radius: 8px;
    border-style: none;
    margin-top: 23px;
    margin-right: 15px;
    flex: none;
    align-items: flex-start;

}

.fourth-section{
    background: #26262B;
    height: 64px;
    width: 560px;
    margin-left: 110px;
    margin-top: 24px;
    border-radius: 10px;
    padding: 12px, 16px, 12px, 16px;
    display: flex;
    


}

.fourth-section>p>span{
    color: #E6842E;

}

.fourth-section>p{
    color: #ffffff;
    font-family: 'Inter' ,sans-serif;
    position: static;
    width: 469px;
    height: 40px;
    font-size: 12px;
    flex: none;
    margin-left: 16px;
    margin-top: 12px;
    line-height: 20px;
    
}

.fourth-section>button{
    display: flex;
    position: static;
    width: 49px;
    height: 28px;
    border-style: none;
    border-radius: 8px;
    margin-top: 17px;
    background: #ffffff;
    color: #26262B;
    margin-left: 8px;
    padding: 6px 8px;
}

.fifth-section{
    background: #1C2540;
    border-radius: 6px;
    height: 206px;
    width: 360px;
    margin-left: 110px;
    margin-top: 72px;
    border-radius: 6px;
    padding: 24px;
   

}

.fifth-section>h3{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #ffffff;
    
}

.fifth-section>p{
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 20px;

}

.fifth-section>p>a{
    color: #ffffff;

}

.fifth-section>span{
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    margin-top: 24px;

}

.fifth-section>button{
    height: 32px;
    width: 85px;
    left: 227px;
    border-radius: 6px;
    border-style: none;
    padding: 8px, 20px, 8px, 20px;
    margin-left: 80px;
    margin-top: 20px;
    background: #09B3AF;

}

.sixth-section{
    background: #ffffff;
    margin-left: 110px;
    margin-top: 24px;
    height: 170px;
    width: 360px;
    border-radius: 16px;
    padding: 16px;

}

.sixth-section>h3{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    margin-left: 7px;

}

.sixth-section>p{
    height: 60px;
    width: 328px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color: #687F8C;
    margin-left: 7px;
    line-height: 20px;
    

}

.sixth-section>.manage-button{
    height: 32px;
    width: 160px;
    border-radius: 6px;
    border-style: none;
    padding: 8px;
    background: #EAF0F4;
    margin-left: 7px;
    margin-top: 7px;
    color: #687F8C;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;

}

.sixth-section>.accept-button{
    height: 32px;
    width: 160px;
    background: #40C1A7;
    border-radius: 6px;
    border-style: none;
    padding: 8px;
    margin-left: 8px;

}

.seventh-section{
    height: 250px;
    width: 290px;
    border-radius: 20px;
    padding: 32px;
    background: #ffffff;
    margin-left: 110px;
    margin-top: 72px;

}

.seventh-section>h2{
    height: 48px;
    width: 104px;
    font-family: 'Gilroy-Bold',sans-serif;
    color: #15295A;
    margin-left: 75px;
    font-size: 40px;
    
}

.seventh-section>p{
    height: 72px;
    width: 256px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    margin-left: 22px;

}

.seventh-section>button{
    height: 44px;
    width: 121px;
    border-radius: 43px;
    border-style: none;
    padding: 10px, 32px, 10px, 32px;
    background: #4A7EFF;
    margin-left: 88px;
    margin-bottom: 30px;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;

}

.eighth-section{
    height: 137px;
    width: 320px;
    border-radius: 4px;
    padding: 16px;
    background: #ffffff;
    margin-top: 24px;
    margin-left: 110px;

}

.eighth-section>p{
    height: 60px;
    width: 288px;
    left: 16px;
    top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000000;

}

.eighth-section>.privacy-paragraph{
    height: 17px;
    width: 95px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #6666FF;
    
}

.eighth-section>button{
    position: absolute;
    height: 33px;
    width: 64px;
    background: #6666FF;
    border-radius: 4px;
    border-style: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 248px;
    line-height: 17px;
    padding: 8px;
    
}








